<p>
  form-reactive
</p>
<div style="height: 100%">
  <div style="float: left; width: 50%;">
    <form [formGroup]="userFg">
      <div>
        <label for="f">FirstName</label>
        <input [ngClass]="userFg.get('firstName').touched && userFg.get('firstName').invalid && 'error'"
               formControlName="firstName" type="text" id="f">
        <div *ngIf="userFg.get('firstName').touched && userFg.get('firstName').invalid" class="errorMessage">
          {{messages.firstName}}
        </div>
      </div>
      <div>
        <label for="l">LastName</label>
        <input [ngClass]="userFg.get('lastName').touched && userFg.get('lastName').invalid && 'error'"
               formControlName="lastName" type="text" id="l">
      </div>
      <div>
        <label for="m">MiddleName</label>
        <input  [ngClass]="userFg.get('middleName').touched && userFg.get('middleName').invalid && 'error'"
                formControlName="middleName" type="text" id="m">
      </div>
      <div>
        <label for="dob">DOB</label>
        <input [ngClass]="userFg.get('dob').touched && userFg.get('dob').invalid && 'error'"
               formControlName="dob" type="text" id="dob">
      </div>
      <div>
        <label for="role">Role</label>
        <input  [ngClass]="userFg.get('role').touched && userFg.get('role').invalid && 'error'"
                formControlName="role" type="text" id="role"></div>
      <div>
        <form [formGroup]="addressF" action="">
          <label for="address">Address</label>
          <input [ngClass]="addressF.get('title').touched && addressF.get('title').invalid && 'error'"
                 formControlName="title" type="text" id="title_">
          <input  [ngClass]="addressF.get('description').touched && addressF.get('description').invalid && 'error'"
                  formControlName="description" type="text" id="description_">
          <button (click)="addInfo('addresses')">Add Address</button>
        </form>
      </div>
      <div>
        <form [formGroup]="sessionF" action="">
          <label for="address">Session</label>
          <input  [ngClass]="sessionF.get('title').touched && sessionF.get('title').invalid && 'error'"
                  formControlName="title" type="text" id="title">
          <input  [ngClass]="sessionF.get('description').touched && sessionF.get('description').invalid && 'error'"
                  formControlName="description" type="text" id="description">
          <button (click)="addInfo('sessions')">Add Session</button>
        </form>
      </div>

      <div *ngIf="addC">
        <label for="l">LastName</label>
        <input [ngClass]="userFg.get('lastName').touched && userFg.get('lastName').invalid && 'error'"
               formControlName="lastName" type="text" id="l">
      </div>
      <button [disabled]="userFg.invalid" (click)="save()">Save Model</button>
    </form>

  </div>
  <div style="float: right; width: 50%">
    {{this.userFg.value | json}}
  </div>
  <br><br>
</div>
