<p>
  form-template
</p>
<div>
  Model Binding Form Template
  <form>
    <div><label for="f"></label><input type="text" id="f"></div>
    <div><label for="l"></label><input type="text" id="l"></div>
    <div><label for="m"></label><input type="text" id="m"></div>
    <div><label for="dob"></label><input type="text" id="dob"></div>
    <div><label for="role"></label><input type="text" id="role"></div>
    <div><label for="address"></label><input type="text" id="address"></div>
    <div><label for="session"></label><input type="text" id="session"></div>
  </form>
  <br><br>
  NGform native binding Form Template
  <form>
    <div><label for="f_"></label><input type="text" id="f_"></div>
    <div><label for="ll"></label><input type="text" id="ll"></div>
    <div><label for="mm"></label><input type="text" id="mm"></div>
    <div><label for="dob_"></label><input type="text" id="dob_"></div>
    <div><label for="role_"></label><input type="text" id="role_"></div>
    <div><label for="address_"></label><input type="text" id="address_"></div>
    <div><label for="session_"></label><input type="text" id="session_"></div>
  </form>
</div>
